<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/hover.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        <img src="/image/1.jpg" alt="">
        <div class="con1">
            <h1>hello, Enter your Name</h1><br>
            <input type="text" id="name"placeholder="name"><br>
            <br><button onclick="act()">Click ME</button>
            <script>
                function act(){
                    const nam=document.getElementById('name').value
                    alert("hello"+nam)
                }
            </script>
        </div>
    </div>
    
</body>
</html>