<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<!-- <body>
    <div class="drop">
        <h1>hello</h1>
        <div class="down">
            hello world
        </div>
     </div>
     <div class="drop1">
        <button class="btn">hallo</button>
        <div class="down1">
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>

        </div>
        
     </div> -->
     <div class="div1">
        <img  src="/image/2.jpg" alt="">
        <div class="div2">
            <img  src="/image/3.jpeg" alt="">
        </div>
     </div>
</body>
</html>

