<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt recusandae officiis, quibusdam autem esse assumenda suscipit deleniti voluptatum neque nisi corporis, voluptatem temporibus maxime enim amet beatae quod cum?
        Perspiciatis fugiat, aliquid, cupiditate corporis saepe dicta temporibus reprehenderit ipsa deserunt ab in repudiandae vel quasi et omnis, ipsum assumenda quos? Eaque eligendi aperiam ut minus inventore. Ad, necessitatibus saepe?
        Aliquid temporibus rerum corporis molestias cupiditate deserunt, at placeat modi aperiam qui tempora assumenda error iste commodi aut asperiores fugit quisquam perferendis doloribus inventore numquam quas sunt! Commodi, itaque velit?
        Inventore, rem amet deserunt deleniti et molestias debitis quod ad beatae vero? Tenetur facilis explicabo atque enim animi amet molestias vel vero, soluta, voluptas minus esse neque quia hic culpa!
        Do
    </div>
    <p><img src="/image/2.jpg" alt="" width="200px" height="200px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione molestias, sequi consequatur tempore beatae repellendus quo, praesentium quia saepe vero voluptatibus repudiandae nihil error. Cum fugit eius dolorem <span class="a">blanditiis</span> recusandae veniam?<span class="a">recusandae</span>
    Sed illum necessitatibus blanditiis delectus perferendis laudantium, at facere provident natus, hic ea veniam quidem laborum suscipit!> Itaque, alias accusamus? Dolorem aspernatur, culpa quis alias assumenda eveniet velit non inventore?
    Error ducimus, neque eius eligendi non in. Sunt praesentium sed recusandae, nobis beatae temporibus, quos odit nesciunt, cupiditate non quidem eveniet voluptatem tenetur. Ratione pariatur possimus explicabo culpa natus vitae!
    Cupiditate beatae rem a velit! Corporis tempora labore at culpa, asperiores ad magnam fugit quidem perspiciatis itaque iure, aut, recusandae id corrupti! Accusamus autem ullam expedita, ipsum quae mollitia commodi.
    Ad modi dicta libero vero soluta vitae officiis inventore maiores ea sed, omnis illo tempora necessitatibus itaque molestias ullam mollitia. Cumque debitis quibusdam laborum molestiae! Minima dolorem vero consectetur sunt!</p>
<div class="align"></div>n -->
<!-- <h1>hallo</h1>
<h2>world</h2>
<h3>haii</h3> 
<div class="navbar1">
    <a href="">Home</a>
    <a href="">contact</a>
    <a href="">About</a>
   
</div>
<br><br>

</body>
</html>